/* Global Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

/* NavBar */

nav {
  width: 100%;
  height: 50px;
  display: flex;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
}

nav a {
  cursor: pointer;
}

nav img {
width: 50px;
position: relative;
bottom: 7px;
}

.center {
  width: 40%;
  display: block;
  position: relative;
  left: 20px;
  margin: 0 auto;
}

.center input[type='text'] {
  width: 90%;
  padding: 10px 10px;
  margin-top: 4px;
}

.center button {
  position: relative;
  right: 60px;
  padding: 11px 20px;
  margin-top: 4px;
  
}

.right {
  display: flex;
  justify-content: space-around;
  justify-items: flex-end;
  justify-self: flex-end;
  padding-top: 15px;
  margin-left: auto;
  width: 20%;
}

.left {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  padding-top: 15px;
  margin-right: auto;
}

/* Youtube Video */

main iframe {
  width: 60%;
  height: 600px;
  position: relative;
  top: 40px;
  left: 40px;
}

/* Aside Section */

aside {
  width: 35%;
  float: right;
  background-color: #f9f9f9;
}

aside ul {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.aside-left {
  margin-right: auto;
}

.aside-right {
  margin-left: auto;
  padding-right: 15px;
}

aside img {
  width: 50%;
  margin-bottom: 20px;
}

aside p {
  width: 30%;
  font-size: 16px;
  float: right;
  margin-right: 70px;
  padding-top: 20px;
}

/* Video Description */

.video-info {
  width: 60%;
  position: relative;
  top: 50px;
  left: 40px;
  border-bottom: 1px solid grey;
  background-color: #f9f9f9;
}

.video-info ul {
  list-style: none;
}

.video-info-left {
  padding-top: 30px;
}

.video-info-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 40%;
  justify-content: space-around;
  padding-bottom: 15px;
}

/* Channel Information */

.channel {
  width: 60%;
  height: 300px;
  position: relative;
  top: 80px;
  left: 40px;
  background-color: #f9f9f9;
}

.channel ul {
  list-style: none;
}

.channel-left {
  width: 22%;
  position: relative;
  top: 25px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}

.channel-right {
  float: right;
  position: relative;
  top: -30px;
}

.channel-right button {
  padding: 15px 35px;
  border-radius: 2px;
  background-color: #ff0100;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  right: 20px;
}

.channel p {
  position: relative;
  width: 60%;
  top: 50px;
  left: 80px;
}
