* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: aqua;
  width: 100%;
  height: 50px;
  display: flex;
}

nav ul {
  background-color: brown;
  width: 100%;
  list-style-type: none;
  display: flex;
}

.center {
  background-color: pink;
  width: 40%;
  display: block;
  position: relative;
  left: 20px;
  margin: 0 auto;
}

.center input[type='text'] {
  width: 90%;
  padding: 10px 10px;
  margin-top: 4px;
}

.center button {
  margin-left: -10px;
  padding: 10px 20px;
  margin-top: 4px;
}

.right {
  display: flex;
  justify-content: space-around;
  justify-items: flex-end;
  justify-self: flex-end;
  padding-top: 15px;
  margin-left: auto;
  width: 20%;
}

.left {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  padding-top: 15px;
  margin-right: auto;
}

main iframe {
  width: 60%;
  height: 600px;
  position: relative;
  top: 40px;
  left: 40px;
}

aside {
  width: 35%;
  float: right;
}

aside ul {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.aside-left {
  margin-right: auto;
}

.aside-right {
  margin-left: auto;
  padding-right: 15px;
}

aside img {
  width: 50%;
  margin-bottom: 20px;
}

aside p {
  width: 30%;
  font-size: 16px;
  float: right;
  margin-right: 70px;
  padding-top: 20px;
}

.video-info {
  width: 60%;
  position: relative;
  top: 50px;
  background-color: blue;
  left: 40px;
  border-bottom: 1px thin grey;

}

.video-info ul{
  list-style: none;

}

.video-info-left{
padding-top: 30px;

}

.video-info-right{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 40%;
  justify-content: space-around;
  padding-bottom: 15px;


}